/* Importing base styles for tailwind */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */

@layer utilities {
  .columns-rule {
    column-rule: 2px solid black;
  }

  .highlight {
    text-decoration-color: #FDFF9B;
    text-decoration-thickness: 100%;
    text-decoration-skip-ink: none;
    text-underline-offset: -100%;
    text-decoration-line: underline;
    mix-blend-mode: multiply;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }

  .highlight::after {
    content: "\00a0";
  }

  .text-stroke {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
  }
}

summary::-webkit-details-marker {
  display: none;
}

summary::marker {
  display: none;
}

.Typewriter {
  display: inline;
}
