/* Importing base styles for tailwind */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */

@layer utilities {
  .columns-rule {
    column-rule: 2px solid black;
  }

  .hightlight {
    display: inline-block;
    position: relative;
  }

  .hightlight::before {
    content: "";
    position: absolute;
    width: 95%;
    height: 60%;
    top: 50%;
    left: 12px;
    background: #FDFF9B;
    z-index: -1;
  }
}

.Typewriter {
  display: inline;
}

