/* Importing base styles for tailwind */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom fonts */

@font-face {
  font-family: 'Junicode';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Junicode.ttf');
}

@font-face {
  font-family: 'Junicode';
  font-style: bold;
  font-weight: 600;
  src: url('/fonts/Junicode-Bold.ttf');
}

@font-face {
  font-family: 'YoungSerif';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/YoungSerif-Regular.otf');
}

/* Custom styles */

body {
  font-family: 'Junicode', sans-serif;
}

@layer utilities {
  .columns-rule {
    column-rule: 2px solid black;
  }

  .hightlight {
    display: inline-block;
    position: relative;
  }

  .hightlight::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 60%;
    top: 32px;
    left: 16px;
    background: #FDFF9B;
    z-index: -1;
  }
}

.Typewriter {
  display: inline;
}

