/* Importing base styles for tailwind */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom fonts */

@font-face {
  font-family: 'Junicode';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('/fonts/Junicode.ttf') format('ttf');
}

@font-face {
  font-family: 'Junicode';
  font-style: bold;
  font-weight: 600;
  src: local(''), url('/fonts/Junicode-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'YoungSerif';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('/fonts/YoungSerif-Regular.otf') format('otf');
}

/* Custom styles */

body {
  font-family: 'Junicode', sans-serif;
  font-size: 12px;
  line-height: 1;
}